---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'posts'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="p-2 w-full flex justify-center">
      <article>
        <div class="flex flex-col gap-1">
          <h1 class="text-2xl md:text-4xl font-bold">{title}</h1>
          <div>
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <hr />
        </div>
        <section class="prose-sm md:prose lg:prose-lg 2xl:prose-xl">
          <slot />
        </section>
      </article>
    </main>
    <span class="flex-1"></span>
    <Footer />
  </body>
</html>
